@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.ourCourseInformation {
    margin: 20px 0 0 0;
    margin-top: 50px;

    @include respond-to("md") {
        margin: 20px 0 80px 0;
    }

    @include respond-to("sm") {
        margin: 20px 0 60px 0;
    }

    .imageAlignCenter{
        display: flex;
        justify-content: center;
        height: 450px;
        margin-bottom: 100px;
    }

    .contentAlignment {
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        padding: 0 0 20px 0;

        @include respond-to("md") {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }

        .rightContent {
            button {
                padding: 12px 22px;
            }
        }

        .leftContent {
            h3 {
                @include heading20;
                color: var(--black-250);
                margin: 0 0 6px 0;
            }

            p {
                @include font16;
                margin: 0 0 20px 0;
                color: var(--black-500);
                // max-width: 880px;
            }

            .allIconText {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .blogtextsflx {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    flex-wrap: wrap;

                    @include respond-to("md") {
                        gap: 20px;
                        flex-wrap: wrap;
                    }

                    @include respond-to("sm") {
                        gap: 10px 20px;
                    }    
                }

                .iconText {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    span {
                        display: block;
                        @include font16;
                        color: var(--black-500);
                    }

                    h4{
                        background: var(--linear-gradient);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        display: inline;
                    }
                }
            }
        }
    }

    .ourCourseInformation {
        position: relative;

        .layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(10px);
            background: #00000066;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                @include heading20;
                text-align: center;
                color: var(--bg-white);
            }

            .iconCenterAlignment {
                display: flex;
                justify-content: center;
                padding: 0 0 8px 0;

                img {
                    display: block;
                    opacity: 1;
                }
            }
        }
    }

    .allTabAlignment {
        border-bottom: 1px solid var(--border-color5);
        width: 100%;
        overflow: auto;
        white-space: nowrap;
        scrollbar-width: none;

        button {
            padding: 10px 32px;
            border: none;
            cursor: pointer;
            position: relative;
            background-color: transparent;
            @include font16;
            color: var(--black-500);

            @include respond-to("sm") {
                padding: 6px 20px;
            }

            &:hover {
                color: var(--black-100);

                &::before {
                    width: 100%;
                }
            }

            &:before {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                content: " ";
                color: transparent;
                background: var(--linear-gradient);
                height: 2px;
                width: 0;
                transition: .4s ease-in-out;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 580px;
        gap: 40px;
        padding: 30px 0 0 0;
        align-items: start;

        @include respond-to("md") {
            grid-template-columns: 1fr;
            gap: 20px;

        }

        .gridItems {
            h4 {
                @include font18;
                margin: 0 0 10px 0;
                color: var(--black-250);
                font-weight: 500;
            }

            div {
                @include font16;
                color: var(--black-500);
                margin: 0 0 8px 0;
                line-height: 30px;
            }

            p {
                @include font16;
                color: var(--black-500);
                margin: 0 0 8px 0;
                line-height: 30px;
            }

            p:last-child {
                margin: 0;
            }

            .box {
                width: 100%;
                border-radius: 20px;
                background: rgba(1, 11, 29, 0.20);
                height: 400px;
            }
        }
    }
}

.noChapters {
    display: flex;
    height: 485px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    text-align: center;
    padding: 2rem;
    background: #f8f9fa;
    border-radius: 12px;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
}