@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.blogListAlignment {
    padding: 100px 0;

    @include respond-to("md") {
        padding: 80px 0;
    }

    @include respond-to("sm") {
        padding: 60px 0 0 0;
    }

    .blogHeaderAlignment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 50px 0;

        @include respond-to("md") {
            grid-template-columns: 1fr;
            display: grid;
            gap: 20px;
            padding: 0 0 30px 0;
        }

        .tab {
            border: 1px solid var(--border-color);
            border-radius: 99px;
            padding: 6px;

            @include respond-to("sm") {
                display: flex;
                align-items: center;
                width: 100%;
                overflow: auto;
                scrollbar-width: none;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            button {
                padding: 14px 20px;
                border: none;
                border-radius: 99px;
                transition: .3s ease-in-out;
                color: var(--black-100);
                @include font16medium;
                background-color: transparent;
                cursor: pointer;

                @include respond-to("sm") {
                    padding: 10px 16px;
                    @include font14normal;
                    white-space: nowrap;
                }

                &.active {
                    color: var(--text-white);
                    background: var(--linear-gradient);

                    &:hover {
                        color: var(--text-white);
                    }
                }

                &:hover {
                    color: var(--primary);
                }
            }
        }

        .searchbar {
            max-width: 500px;
            width: 100%;
            position: relative;

            input {
                width: 100%;
                border-radius: 99px;
                padding-left: 62px;
                padding-right: 16px;
                background-color: var(--bg-white-light);
                border: 1px solid var(--border-color2);
                height: 58px;
                transition: .3s ease-in-out;
                @include font16medium;
                color: var(--black-100);
                font-weight: 400;

                &:focus {
                    outline: none;
                    border: 1px solid var(--primary);
                }
            }

            .iconAlignment {
                position: absolute;
                left: 20px;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
            }

            ::placeholder {
                @include font16medium;
                color: var(--black-200);
                opacity: 0.36;
                font-weight: 400;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @include respond-to("md") {
            grid-template-columns: 1fr;
        }

        .griditems {
            border-radius: 20px;
            padding: 25px;
            display: grid;
            grid-template-columns: 190px 1fr;
            gap: 25px;
            background: #EEEBFF;
            cursor: pointer;

            @include respond-to("sm") {
                gap: 16px;
                padding: 16px;
                border-radius: 12px;
                grid-template-columns: 1fr;
            }

            &:hover {
                h3 {
                    text-decoration-line: underline;
                }
            }

            .image {
                img {
                    width: 100%;
                    height: 200px;
                    border-radius: 8px;
                    display: block;

                    @include respond-to("sm") {
                        height: 240px;
                    }
                }
            }

            h3 {
                @include heading20;
                margin: 0 0 6px 0;
                color: var(--black-100);
                font-size: 19px;
                transition: .3s ease-in-out;
            }

            p {
                @include font16;
                color: var(--grey-600);
                margin: 0 0 18px 0;
            }

            button {
                padding: 8px 14px;
                @include font14normal;
                font-weight: 500;
            }

            .allIconText {
                display: flex;
                align-items: center;
                padding: 0 0 14px 0;
                gap: 18px;

                .iconText {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    span {
                        display: block;
                        @include font14normal;
                        color: var(--black-100);
                    }
                }
            }
        }
    }
}

.valorText {
    h3 {
        font-size: 12vw;
        text-align: center;
        line-height: 200px;
        font-weight: 800;
        color: #07000C;

        @include respond-to("md") {
            line-height: 120px;
        }

        @include respond-to("sm") {
            line-height: 142px;
        }
    }
}