@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/typography/typography.scss' as *;

.contactUs {
    background-color: var(--bg-white);
    border-radius: 22px;
    padding: 25px;
        @include respond-to("md") {
        padding: 16px;
        border-radius: 12px;
    }

    .pageTitle {
        padding: 0 0 25px 0;
        border-bottom: 1px solid #E9E9E9;
          @include respond-to("sm") {
            padding: 0 0 20px 0;
        }

        h2 {
            @include heading20;
            color: var(--black-100);

            span {
                background: var(--linear-gradient);
                @include text-type;
            }
        }

        p {
            @include font16;
            color: var(--black-400);
            opacity: .9;
            
            @include respond-to("sm") {
                @include font14normal;
                margin: 10px 0 0 0;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 25px 0;
        gap: 16px;

        @include respond-to("lg") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to("sm") {
            grid-template-columns: 1fr;
        }

        .griditems {
            border-radius: 14px;
            padding: 18px;
            border: 1px solid #DFE0E0;
            background: #FFF;
            display: grid;
            grid-template-columns: 58px 1fr;
            align-items: center;
            gap: 18px;
            transition: .3s ease-in-out;

            @include respond-to("sm") {
                grid-template-columns: 1fr;
                gap: 14px;
                padding: 14px;
                border-radius: 8px;
            }

            &:hover {
                border: 1px solid var(--primary);
            }

            h3 {
                @include font16medium;
                color: var(--black-200);
                margin: 0 0 2px 0;
            }

            p {
                @include font14normal;
                color: var(--black-200);
                margin: 0 0 2px 0;
                opacity: .8;
            }

            a {
                background: var(--linear-gradient);
                @include font16;
                cursor: pointer;
                @include text-type;
            }

            .icons {
                width: 58px;
                height: 58px;
                display: flex;
                align-items: center;
                border-radius: 12px;
                border: 1px solid #E7E7FC;
                background: #F8F8FE;
                justify-content: center;
                @include respond-to("sm") {
                    border-radius: 6px;
                }
            }
        }
    }

    .form {
        input {
            border-radius: 30px;
            border: 1px solid rgba(117, 119, 235, 0.13) !important;
            background: rgba(118, 119, 236, 0.05) !important;
        }

        .topAlignment {
            padding: 22px 0;
            @include respond-to("sm") {
                padding: 16px 0;
            }
        }
    }

    .twocol {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 22px;
        padding: 0 0 22px 0;
        @include respond-to("sm") {
            gap: 16px;
            padding: 0 0 16px 0;
            grid-template-columns: repeat(1 , 1fr);
        }


    }
}