@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/typography/typography.scss' as *;

.logo {
    img {
        width: 172px;
        height: 46;
        display: block;
        cursor: pointer;

        @include respond-to("sm") {
            max-width: 140px;
        }
    }
}