@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;
@use "../../../scss/typography/typography.scss" as *;

.webinarfaqmain {
  padding: 104px 0;

  @media (max-width: 1024px) {
    padding: 90px 0;
  }

  @media (max-width: 768px) {
    padding: 80px 0;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 50px 0;

    @include respond-to("sm") {
      padding: 0 0 40px 0;
    }

    h1 {
      @include heading2;
      color: var(--black-100);
      text-align: center;
      margin: 0 0 8px 0;

      @include respond-to("sm") {
        @include heading32;
      }

      span {
        background: var(--linear-gradient);
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        background-clip: text;
      }
    }

    p {
      @include font18;
      color: var(--grey-600);
      text-align: center;

      @include respond-to("sm") {
        @include font16;
      }
    }
  }

  .faqListAlignment {
    .mainFaq {
      border-radius: 12px;
      background: var(--bg-light);
      padding: 20px;
      margin: 0 0 20px 0;

      .faqBody {
        &.hide {
          max-height: 0px;
          overflow: hidden;
          transition: 0.3s ease-in-out;
        }

        &.show {
          max-height: 100dvh;
          overflow: hidden;
          transition: 0.3s ease-in-out;
        }

        .spacing {
          padding: 16px 0 0 0;

          p {
            @include font16;
            color: var(--grey-600);
          }
        }
      }

      .faqHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon {
          &.rotate {
            svg {
              transform: rotate(45deg);
            }
          }

          svg {
            cursor: pointer;
            transition: 0.3s ease-in-out;
          }
        }

        h3 {
          @include font18;
          font-weight: 500;
          color: var(--black-100);
        }
      }
    }
  }

  .registerbtn {
    display: flex;
    justify-content: center;
    padding-top: 50px;

    button {
      animation: Buttonanimation 1s infinite alternate ease-in-out;

      @keyframes Buttonanimation {
        0% {
          transform: translateX(0);
        }
        50% {
          transform: translateX(10px);
        }
        100% {
          transform: translateX(-10px);
        }
      }
    }
  }
}
