@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.recentcourse {
    padding: 25px 0 0 0;

    @include respond-to("sm") {
        padding: 20px 0 0 0;
    }

    .title {
        padding: 0 0 25px 0;

        @include respond-to("sm") {
            padding: 0 0 20px 0;
        }

        h3 {
            @include font18;
            color: var(--black-200);
            font-weight: 500;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 0 0 40px 0;

        @include respond-to("lg") {
            grid-template-columns: repeat(3, 1fr);
        }

        @include respond-to("md") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to("sm") {
            grid-template-columns: repeat(1, 1fr);
            padding: 0 0 20px 0;
        }

        .griditems {
            background-color: var(--bg-white);
            border-radius: 12px;
            padding: 15px;
            box-shadow: (0 3px 24px rgba(118, 120, 237, 0.22));

            @include respond-to("sm") {
                padding: 14px;
            }

            .image {
                img {
                    width: 100%;
                    height: 180px;
                    display: block;
                    object-fit: cover;
                    border-radius: 12px;
                }
            }

            .details {
                padding: 16px 0 0 0;

                h3 {
                    @include font18;
                    font-weight: 500;
                    color: var(--black-100);
                    margin: 0 0 8px 0;
                }

                p {
                    @include font14normal;
                    color: var(--black-500);
                    margin: 0 0 15px 0;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.5;
                }

                button {
                    padding: 12px 26px;
                    @include respond-to("sm") {
                        padding: 10px 24px;
                    }
                }

                .iconalignment {
                    display: flex;
                    align-items: center;
                    gap: 35px;
                    padding: 0 0 25px 0;

                    @include respond-to("sm") {
                        padding: 0 0 14px 0;
                    }

                    h4 {
                        background: var(--linear-gradient);
                        @include heading20;
                        @include text-type;
                    }

                    .iconText {
                        display: flex;
                        align-items: center;
                        gap: 4px;

                        span {
                            display: block;
                            @include font16;
                            color: var(--black-500);
                        }
                    }
                }
            }
        }
    }
}