body {
  margin: 0;
  padding: 0;
  /* user-select: none; */
  font-family: var(--font-lexend);
  overflow-x: hidden;
}


* {
  box-sizing: border-box;
}


img {
  max-width: 100%;
  user-drag: none;
  -webkit-user-drag: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input, ::placeholder, button {
  font-family: var(--font-lexend);
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.container {
  max-width: calc(1320px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.container-lg {
  max-width: calc(1580px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.admin-layout {
  background-image: url('/assets/images/admin-layout.png');
  min-height: 100dvh;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.admin-flex {
  display: flex;
}

.admin-sidbar {
  width: 275px;

}

.admin-children {
  width: calc(100% - 275px);
}

.admin-children-alignment {
  padding: 20px 20px 20px 0;
}

@media (max-width:1024px) {
  .admin-sidbar {
    display: none;
  }

  .admin-flex {
    display: block;
  }

  .admin-children {
    width: 100%;
  }

  .admin-children-alignment {
    padding: 20px;
  }
}

@media (max-width:576px) {
  .admin-children-alignment {
    padding: 14px;
  }
}