body {
  margin: 0;
  padding: 0;
  /* user-select: none; */
  font-family: var(--font-lexend);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  user-drag: none;
  -webkit-user-drag: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  cursor: default;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.error {
  font-size: 12px;
  color: red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
::placeholder,
button {
  font-family: var(--font-lexend);
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  max-width: calc(1320px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.container-md {
  max-width: calc(1212px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.container-lg {
  max-width: calc(1580px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.admin-layout {
  background-image: url("/assets/images/admin-layout.png");
  min-height: 100dvh;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.admin-flex {
  display: flex;
}

.admin-sidbar {
  width: 275px;
}

.admin-children {
  width: calc(100% - 275px);
}

.admin-children-alignment {
  padding: 20px 20px 20px 0;
}

@media (max-width: 1200px) {
  .admin-sidbar {
    display: none;
  }

  .admin-flex {
    display: block;
  }

  .admin-children {
    width: 100%;
  }

  .admin-children-alignment {
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .admin-children-alignment {
    padding: 14px;
  }
}

/* Container background */
.custom-toast {
  background: #fff !important;
  color: #333 !important;
  border-radius: 12px !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15) !important;
  padding: 12px 16px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

/* Body text */
.custom-body {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Close button */
.Toastify__close-button {
  color: #888 !important;
  opacity: 0.8;
  transition: all 0.2s;
}

.Toastify__close-button:hover {
  color: #333 !important;
  opacity: 1;
}


/* <---- React date picker css starts here ----> */
.react-datepicker__header {
  background: #fff !important;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  fill: #fff !important;
  color: #fff !important;
}

.react-datepicker__day--selected {
  background: var(--button-gradient) !important;
}

.react-datepicker {
  border-radius: 10px !important;
  overflow: hidden;
}

.react-datepicker__day--selected,.react-datepicker__day--keyboard-selected {
  background-color: #423d92 !important;
  color: #fff !important;
}

.react-datepicker__input-container input {
  background-color: #f7f8fa !important;
  font-family: var(--font-lexend);
  color: var(--black-500) !important;
  border: 1px solid var(--border-color2) !important;
  border-radius: 10px !important;
  height: 55px;
  padding: 0 16px !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all .3s ease-in-out;
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 9999;
  pointer-events: none;
  transition: opacity 0.3s;
}