@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.studentSay {
    position: relative;
    padding: 0 0 140px 0;

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 525px;
        background: var(--d-9-d-9-d-9, linear-gradient(180deg, #3D348B 0%, #7678ED 100%));
        content: '';
        z-index: -1;
    }

    .blur {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
        filter: blur(20px);
        width: 100%;
        height: 145px;
        position: absolute;
        top: 140px;
        left: 0;
    }

    .box {
        position: relative;
        background-color: var(--bg-white);
        border-radius: 56px;
        padding: 0 130px 112px 130px;
        z-index: 99;
        @include respond-to("lg") {
        padding: 0 40px 112px 40px;
        }
        @include respond-to("md") {
        padding: 0 10px 40px 10px;
        border-radius: 22px;
        }

        &::before,
        &::after {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 97%;
            height: 80px;
            border-radius: 30px;
            background: rgb(255, 255, 255, .2);
            content: '';
            pointer-events: none;
            @include respond-to("sm") {
                border-radius: 22px;
            }
        }

        &::before {
            bottom: -20px;
            z-index: 2;
            width: 96%;
            @include respond-to("sm") {
                width: 93%;
            }
        }

        &::after {
            bottom: -35px;
            z-index: 1;
            width: 92%;
            @include respond-to("sm") {
                width: 88%;
            }
        }

        .title {
            position: relative;
            padding: 0 0 50px 0;
            @include respond-to("sm") {
                padding: 0 0 40px 0;
            }

            h2 {
                @include heading2;
                color: var(--black-100);
                text-align: center;
                margin: 0 0 8px 0;
                @include respond-to("sm") {
                    @include heading32;
                }

                span {
                    background: var(--linear-gradient);
                    @include text-type;
                }
            }

            p {
                @include font18;
                color: var(--grey-600);
                text-align: center;
                max-width: 774px;
                margin: 0 auto;
                @include respond-to("sm") {
                    @include font16;
                }
            }
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;

            @include respond-to("md") {
                grid-template-columns: repeat(2 , 1fr);
                gap: 20px;
            }
            @include respond-to("sm") {
                grid-template-columns: 1fr;
            }

            .griditems {
                border-radius: 18px;
                background: #F2F2F2;
                padding: 30px;
                transition: .3s ease-in-out;
                @include respond-to("sm") {
                    padding: 16px;
                    border-radius: 12px;
                }

                &:hover {
                    background: var(--linear-gradient);
                    .text {
                        p {
                            color: var(--text-white);
                        }
                    }

                    .contentAlignment {
                        p {
                            color: var(--text-white);
                        }
                        img {
                            filter: invert(1);
                            transform: translateY(90px);
                        }
                    }
                    .profileAlignment {
                        .profile {
                            background-color: var(--bg-white);
                            color: var(--black-100);
                        }
                        p {
                            color: var(--text-white);
                        }

                        span {
                            color: var(--text-white);
                        }
                    }
                }

                .ratingAlignment {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    padding: 0 0 20px 0;
                }

                .text {
                    padding: 0 0 34px 0;
                    @include respond-to("sm") {
                        padding: 0 0 16px 0;
                    }
                    p {
                        @include font18;
                        color: var(--grey-600);
                        @include respond-to("md") {
                            @include font16;
                        }
                    }
                }

                .profileAlignment {
                    display: flex;
                    align-items: center;
                    // grid-template-columns: 50px 1fr;
                    gap: 12px;
                    padding: 18px 0 0 0;

                    .profile {
                        @include heading20;
                        background-color: var(--black-100);
                        color: var(--text-white);
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                    }

                    p {
                        @include font18;
                        font-weight: 600;
                        color: var(--black-100);
                        @include respond-to("sm") {
                            @include font16bold;
                        }
                    }

                    span {
                        display: block;
                        @include font16;
                        color: var(--grey-600);
                        @include respond-to("sm") {
                            @include font14normal;
                            padding: 5px 0 0 0;
                        }
                    }
                }

                .contentAlignment {
                    display: flex;
                    padding: 0 0 26px 0;
                    border-bottom: 1px solid #DADADA;
                    align-items: center;
                    justify-content: space-between;
                    @include respond-to("sm") {
                        padding: 0 0 16px 0;
                    }

                    p {
                        @include font18;
                        color: #16A249;
                    }

                    img {
                        transition: .3s ease-in-out;
                    }
                }
            }
        }


    }
}