@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.automateSection {
    padding: 110px 0 211px 0;
    background: var(--d-9-d-9-d-9, linear-gradient(180deg, #3D348B 0%, #7678ED 100%));

    @include respond-to("sm") {
        padding: 80px 0 180px 0;
    }

    .title {
        padding: 0 0 50px 0;

        @include respond-to("sm") {
            padding: 0 0 40px 0;
        }

        h2 {
            @include heading2;
            color: var(--text-white);
            text-align: center;
            margin: 0 0 8px 0;

            @include respond-to("sm") {
                @include heading32;
            }
        }

        p {
            @include font18;
            color: var(--text-white);
            text-align: center;

            @include respond-to("sm") {
                @include font16;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;

        @include respond-to("md") {
            grid-template-columns: repeat(1, 1fr);
        }

        @include respond-to("sm") {
            gap: 20px;
        }

        .griditems {
            padding: 30px 25px;
            background-color: var(--bg-white);
            border-radius: 18px;
            min-width: 0;

            @include respond-to("sm") {
                padding: 16px;
                border-radius: 12px;
            }

            :global(.slick-track) {
                margin: 0;
            }

            .planslider {
                width: calc(100% - 40px);
                margin: 0 auto;
            }

            .nextArrow,
            .prevArrow {
                position: absolute;
                top: 50%;
                z-index: 9;
                transform: translateY(-50%);
                padding: 5px;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border: 1px solid var(--primary);
                transition: .4s ease-in-out;

                &:hover {
                    background: var(--linear-gradient);

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }

                svg {
                    width: 20px;
                    height: 20px;
                    transition: .4s ease-in-out;

                    path {
                        fill: #000;
                        transition: .4s ease-in-out;
                    }
                }
            }

            .nextArrow {
                right: -35px;
            }

            .prevArrow {
                left: -35px;

                svg {
                    rotate: 180deg;
                }
            }

            .twoColGrid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 8px;

                @include respond-to("sm") {
                    grid-template-columns: 1fr;
                }

                button {
                    padding: 12px;
                    width: 100%;
                }
            }

            .freetrial {
                padding: 0 0 25px 0;

                @include respond-to("sm") {
                    padding: 0 0 16px 0;
                }

                button {
                    border-radius: 40px;
                    background: linear-gradient(180deg, rgba(61, 52, 139, 0.08) 0%, rgba(118, 120, 237, 0.08) 100%);
                    padding: 8px 14px;
                    border: none;

                    span {
                        background: var(--linear-gradient);
                        @include text-type;
                        @include font16medium;
                    }
                }

                p {
                    margin: 15px 0 0 0;
                    @include font16medium;
                    color: var(--black-100);
                }
            }

            .textContent {
                display: flex;
                gap: 43px;
                padding: 0 0 25px 0;

                @include respond-to("sm") {
                    gap: 20px;
                    padding: 0 0 16px 0;
                }

                p {
                    @include font16;
                    color: rgba(42, 48, 60, 0.70);

                    @include respond-to("sm") {
                        @include font14normal;
                    }
                }

                span {
                    display: block;
                    @include font16bold;
                    color: var(--black-100);

                    @include respond-to("sm") {
                        font-size: 13px;
                    }
                }
            }

            .cardHeaderAlignment {
                display: grid;
                grid-template-columns: 44px 1fr;
                gap: 14px;
                align-items: center;
                padding: 0 0 25px 0;

                @include respond-to("sm") {
                    grid-template-columns: 34px 1fr;
                }

                img {
                    display: block;
                }

                p {
                    @include heading20;
                    margin: 0 0 2px 0;
                    color: var(--black-100);

                    @include respond-to("sm") {
                        @include font16bold;
                    }
                }

                span {
                    background: var(--linear-gradient);
                    @include text-type;
                    @include font16medium;

                    @include respond-to("sm") {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

.whiteblur {
    height: 145px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    filter: blur(40px);
    margin-top: -120px;
}

.truncateText {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.singleLineText {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.textContent {
    display: flex;
    gap: 16px; // Adjust spacing between items
    align-items: start;
}

.planItemmain {
    display: flex;
    justify-content: space-between;

    .planItem {

        p {
            @include font16;
            color: rgba(42, 48, 60, 0.70);

            @include respond-to("sm") {
                @include font14normal;
            }
        }

        span {
            display: block;
            @include font16bold;
            color: var(--black-100);

            @include respond-to("sm") {
                font-size: 13px;
            }
        }
    }
}

.planItem {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 8px;
}

.verticalDivider {
    width: 1px;
    height: 40px; // Adjust height as needed
    background-color: #e0e0e0; // Your preferred line color
}