@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/typography/typography.scss' as *;

.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;

    .logoAlignment {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond-to("md") {
            padding: 20px;
            justify-content: space-between;
        }

        .closeIcon {
            display: none;

            @include respond-to("md") {
                display: block;
            }

            svg {
                width: 26px;
                height: 26px;

                path {
                    stroke: var(--text-white);
                }
            }
        }

        img {
            max-width: 180px;
            cursor: pointer;
            margin: 0 auto;

            @include respond-to("sm") {
                margin: 0;
                max-width: 140px;
            }

        }
    }

    .allMenuAlignment {
        padding: 0 0 0 20px;
        height: calc(100dvh - 204px);
        overflow: auto;

        @include respond-to("md") {
            padding: 0 20px;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
        padding: 15px 16px;
        position: relative;
        transition: .3s ease-in-out;
        z-index: 99;
        border-radius: 99px 0 0 99px;
        transition: .3s ease-in-out;
        margin: 0 0 4px 0;

        @include respond-to("md") {
            border-radius: 99px;
        }

        &.activeMenu {
            background-color: var(--bg-white);

            &::before {
                opacity: 1;
            }

            &::after {
                opacity: 1;
            }

            .textIconAlignment {
                svg {
                    path {
                        stroke: var(--grey-600);
                    }
                }
            }

            span {
                background: var(--linear-gradient);
                @include text-type;
            }

            .iconAlignment {
                img:first-child {
                    display: none;
                }

                img:last-child {
                    display: block;
                }
            }
        }

        .iconAlignment {
            display: flex;
            align-items: center;

            img:last-child {
                display: none;
            }

            img {
                width: 26px;
                min-width: 26px;
                height: 26px;
                transition: .3s ease-in-out;
            }
        }

        &:hover {
            background-color: var(--bg-white);

            &::before {
                opacity: 1;
            }

            &::after {
                opacity: 1;
            }

            span {
                background: var(--linear-gradient);
                @include text-type;
            }

            .textIconAlignment {
                svg {
                    path {
                        stroke: var(--grey-600);
                    }
                }
            }

            .iconAlignment {
                img:first-child {
                    display: none;
                }

                img:last-child {
                    display: block;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            background-image: url('/assets/icons/up-icon.svg');
            width: 28px;
            height: 27px;
            top: -27px;
            right: 0;
            z-index: 999;
            opacity: 0;
            transition: .3s ease-in-out;

            @include respond-to("md") {
                display: none;
            }
        }

        &::after {
            content: '';
            position: absolute;
            background-image: url('/assets/icons/down-icon.svg');
            width: 28px;
            height: 27px;
            bottom: -27px;
            right: 0;
            z-index: 999;
            opacity: 0;
            transition: .3s ease-in-out;

            @include respond-to("md") {
                display: none;
            }
        }



        .textIconAlignment {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-right: 20px;

            @include respond-to("md") {
                padding-right: 0;
            }

            svg {
                transition: .3s ease-in-out;
            }

            .icons {
                display: flex;
                align-items: center;

                &.rotate {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        span {
            display: block;
            @include font18;
            color: var(--text-white);
            z-index: 99;
            position: relative;
            transition: .3s ease-in-out;
        }

        img {
            position: relative;
            z-index: 99;
        }
    }

    .sidbarFooter {
        padding: 20px 14px 20px 25px;

        .mainRelative {
            position: relative;

            button {
                border-radius: 30px;
                border: 1px solid rgba(248, 250, 252, 0.13);
                background: rgba(248, 250, 252, 0.10);
                padding: 14px 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                width: 100%;
                @include font16medium;
                color: var(--text-white);

                &.rotateIcon {
                    svg {
                        transform: rotate(180deg);
                    }
                }

                svg {
                    transition: .3s ease-in-out;
                }
            }

            .dropdownProfile {
                border-radius: 18px;
                position: absolute;
                bottom: 60px;
                width: 100%;
                margin-right: 14px;
                border: 1px solid rgba(248, 250, 252, 0.10);
                background: rgba(248, 250, 252, 0.10);

                &.hide {
                    max-height: 0px;
                    opacity: 0;
                    overflow: hidden;
                    transition: .3s ease-in-out;
                }

                &.show {
                    opacity: 1;
                    max-height: 100vh;
                    overflow: hidden;
                    transition: .3s ease-in-out;
                }

                .dropodowAlignment {
                    padding: 20px;

                    a {
                        display: block;
                        padding: 0 0 16px 0;
                    }

                    a:last-child {
                        padding: 0;
                    }

                    .iconText {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        cursor: pointer;
                        transition: .3s ease-in-out;

                        &:hover {
                            svg {
                                opacity: 1;
                            }

                            span {
                                color: var(--text-white)
                            }
                        }

                        &.iconTextActive {
                            svg {
                                opacity: 1;
                            }

                            span {
                                color: var(--text-white)
                            }
                        }

                        svg {
                            transition: .3s ease-in-out;

                            path {
                                fill: var(--text-white);
                            }
                        }

                        span {
                            @include font16;
                            color: rgba(255, 255, 255, 0.80);
                            transition: .3s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    .dropodow {
        border-radius: 18px;
        margin-right: 14px;
        border: 1px solid rgba(248, 250, 252, 0.10);
        background: rgba(248, 250, 252, 0.10);

        @include respond-to("md") {
            margin-right: 0;
        }

        &.hide {
            max-height: 0px;
            opacity: 0;
            overflow: hidden;
            transition: .3s ease-in-out;
        }

        &.show {
            opacity: 1;
            max-height: 100vh;
            overflow: hidden;
            transition: .3s ease-in-out;
        }

        .dropodowAlignment {
            padding: 20px;


            a {
                display: block;
                padding: 0 0 16px 0;
            }

            a:last-child {
                padding: 0;
            }

            .iconText {
                display: flex;
                align-items: center;
                gap: 12px;
                cursor: pointer;
                transition: .3s ease-in-out;

                &.iconTextActive {
                    svg {
                        opacity: 1;
                    }

                    span {
                        color: var(--text-white)
                    }
                }

                &:hover {
                    svg {
                        opacity: 1;
                    }

                    span {
                        color: var(--text-white)
                    }
                }

                svg {
                    transition: .3s ease-in-out;
                    opacity: .7;
                }

                span {
                    @include font16;
                    color: rgba(255, 255, 255, 0.80);
                    transition: .3s ease-in-out;
                }
            }
        }
    }
}