@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/typography/typography.scss' as *;

.footer {
    background-image: url('/assets/images/footer-bg.png');
    width: 100%;
    padding: 100px 0 46px 0;
    background-repeat: no-repeat;
    margin-top: -60px;
    background-size: cover;

    @include respond-to("sm") {
        padding: 60px 0 24px 0;
    }

    .copright {
        padding: 20px 0 0 0;

        p {
            text-align: center;
            @include font16;
            color: var(--text-white);

            @include respond-to("sm") {
                @include font14normal;
            }
        }
    }

    .line {
        border-top: 1px solid #E5E7EB;
        opacity: .2;
    }

    .footerGrid {
        display: grid;
        grid-template-columns: 1fr 412px;
        gap: 200px;
        padding: 0 0 50px 0;

        @include respond-to("md") {
            grid-template-columns: 1fr;
            gap: 40px;
            padding: 0 0 24px 0;
        }

        @include respond-to("sm") {
            padding: 0 0 20px 0;
            gap: 20px;
        }

        .items:first-child {
            display: flex;
            justify-content: space-between;

            @include respond-to("sm") {
                display: grid;
                grid-template-columns: 1fr;
                gap: 20px;

            }
        }

        .menu {
            h3 {
                @include font18;
                margin: 0 0 16px 0;
                color: var(--text-white);
            }

            a {
                display: block;
                padding: 0 0 14px 0;
                @include font16;
                color: var(--text-white);
                cursor: pointer;
                opacity: .8;
                transition: .3s ease-in-out;

                &:hover {
                    opacity: 1;
                }

            }
        }

        .logotext {
            img {
                display: block;
                cursor: pointer;
                max-width: 210px;

                @include respond-to("sm") {
                    max-width: 140px;
                }
            }

            p {
                max-width: 320px;
                @include font16;
                color: var(--text-white);
                margin: 14px 0 30px 0;
            }

            .socialIcon {
                display: flex;
                align-items: center;
                gap: 20px;

                svg {
                    cursor: pointer;
                }
            }
        }

        .checkboxText {
            padding: 16px 0 0 0;
            display: flex;
            align-items: center;
            gap: 9px;

            span {
                color: var(--text-white);
                @include font18;

                @include respond-to("sm") {
                    @include font16;
                }
            }

            input[type="checkbox"] {
                width: 22px;
                height: 22px;
                margin: 0;
                padding: 0;
            }
        }

        .inputDesign {
            position: relative;

            input {
                width: 100%;
                background-color: var(--bg-white);
                padding-left: 20px;
                padding-right: 120px;
                @include font16;
                color: var(--black-100);
                height: 60px;
                border: 1px solid var(--border-color4);
                border-radius: 99px;
                transition: .3s ease-in-out;

                &:focus {
                    outline: none;
                    border: 1px solid var(--primary);
                }
            }

            .buttonAlignment {
                position: absolute;
                right: 6px;
                top: 50%;
                transform: translateY(-50%);

                button {
                    padding: 12px 26px;
                }
            }

            ::placeholder {
                @include font16;
                color: var(--grey-600);
            }
        }

        .joinText {
            padding: 0 0 32px 0;

            h3 {
                @include heading22;
                color: var(--text-white);
                margin: 0 0 11px 0;
            }

            p {
                @include font18;
                color: var(--text-white);

                @include respond-to("sm") {
                    @include font16;
                }
            }
        }
    }
}