@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

// .modalContainer {
//     background: white;
//     border-radius: 12px;
//     overflow: hidden;
//     width: 100%;
//     max-width: 500px;
//     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
// }

.errorText{
    color: red;
    font-size: 14px;
    padding-bottom: 8px;
}

.modalHeader {
    // background: linear-gradient(90deg, #5f38f0, #7a5cf3);
    padding-bottom: 12px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
    }

    .closeBtn {
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }
}


.inputGroup {
    margin-bottom: 15px;

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: 500;
        color: #333;
    }

    input {
        width: 100%;
        padding: 10px 14px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 14px;
        transition: border-color 0.3s ease;

        &:focus {
            border-color: #5f38f0;
            outline: none;
        }
    }
}

.modalActions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
        padding: 10px 20px;
        font-weight: 600;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease;

        &.saveButton {
            background: linear-gradient(180deg, #3d348b 0%, #7678ed 100%);
            color: white;

            &:hover {
                background: linear-gradient(180deg, #3d348b 0%, #7678ed 100%);
            }
        }

        &.cancelButton {
            background: #e5e5e5;
            color: #333;

            &:hover {
                background: #d4d4d4;
            }
        }
    }
}


.paymentTable {
    background: #7677EC0D;
    border: 1px solid #7577EB21;
    border-radius: 12px;
    height: calc(100dvh - 304px);
    overflow: auto;

    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            background: #f1f1fd;

            position: sticky;
            top: 0;
            z-index: 9;

            tr {
                border-bottom: 1px solid #7577EB21;

                th {
                    padding: 14px;
                    @include font14normal;
                    text-align: left;
                    font-weight: 500;
                    color: var(--black-250);
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid #7577EB21;

                td {
                    padding: 14px;
                    @include font14normal;
                    text-align: left;
                    color: var(--black-400);

                    .status {
                        background: #DCFCE7;
                        padding: 4px 20px;
                        border: 1px solid #22C55E;
                        border-radius: 99px;
                        @include font12normal;
                        color: #000;
                    }

                    .viewmore {
                        background: #FFF5F1;
                        padding: 4px 20px;
                        border: 1px solid #F8E3D8;
                        border-radius: 99px;
                        @include font12normal;
                        color: #000;
                    }
                }
            }
        }
    }
}

.tabCenteralignment {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;

    @include respond-to("sm") {
        padding: 0 0 30px 0;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .tab {
        border: 1px solid var(--border-color);
        border-radius: 99px;
        padding: 6px;

        @include respond-to("sm") {
            display: flex;
            align-items: center;
            width: 100%;
            overflow: auto;
            scrollbar-width: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        button {
            padding: 14px 20px;
            border: none;
            border-radius: 99px;
            transition: .3s ease-in-out;
            color: var(--black-100);
            @include font16medium;
            background-color: transparent;
            cursor: pointer;

            @include respond-to("sm") {
                padding: 10px 16px;
                @include font14normal;
                white-space: nowrap;
            }

            &.active {
                color: var(--text-white);
                background: var(--linear-gradient);

                &:hover {
                    color: var(--text-white);
                }
            }

            &:hover {
                color: var(--primary);
            }
        }
    }
}

.metaAccountNo{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.accountItem{
    padding: 10px 0;
}