@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.paymentTable {
    background: #7677EC0D;
    border: 1px solid #7577EB21;
    border-radius: 12px;
    height: calc(100dvh - 304px);
    overflow: auto;

    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            background: #f1f1fd;

            position: sticky;
            top: 0;
            z-index: 9;

            tr {
                border-bottom: 1px solid #7577EB21;

                th {
                    padding: 14px;
                    @include font14normal;
                    text-align: left;
                    font-weight: 500;
                    color: var(--black-250);
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid #7577EB21;

                td {
                    padding: 14px;
                    @include font14normal;
                    text-align: left;
                    color: var(--black-400);

                    .status {
                        background: #DCFCE7;
                        padding: 4px 20px;
                        border: 1px solid #22C55E;
                        border-radius: 99px;
                        @include font12normal;
                        color: #000;
                    }

                    .viewmore {
                        background: #FFF5F1;
                        padding: 4px 20px;
                        border: 1px solid #F8E3D8;
                        border-radius: 99px;
                        @include font12normal;
                        color: #000;
                    }
                }
            }
        }
    }
}

.tabCenteralignment {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;

    @include respond-to("sm") {
        padding: 0 0 30px 0;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .tab {
        border: 1px solid var(--border-color);
        border-radius: 99px;
        padding: 6px;

        @include respond-to("sm") {
            display: flex;
            align-items: center;
            width: 100%;
            overflow: auto;
            scrollbar-width: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        button {
            padding: 14px 20px;
            border: none;
            border-radius: 99px;
            transition: .3s ease-in-out;
            color: var(--black-100);
            @include font16medium;
            background-color: transparent;
            cursor: pointer;

            @include respond-to("sm") {
                padding: 10px 16px;
                @include font14normal;
                white-space: nowrap;
            }

            &.active {
                color: var(--text-white);
                background: var(--linear-gradient);

                &:hover {
                    color: var(--text-white);
                }
            }

            &:hover {
                color: var(--primary);
            }
        }
    }
}

.metaAccountNo{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.accountItem{
    padding: 10px 0;
}