@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;
@use "../../../scss/typography/typography.scss" as *;

.tradingtools {
  padding: 110px 0 0 0;

  .title {
    padding: 0 0 50px 0;

    @include respond-to("sm") {
      padding: 0 0 40px 0;
    }

    h3 {
      @include heading2;
      color: var(--text-white);
      text-align: center;
      margin: 0 0 8px 0;

      @include respond-to("sm") {
        @include heading32;
      }
    }

    p {
      color: var(--text-white);
      text-align: center;

      @include respond-to("sm") {
        @include font16;
      }
    }
  }

  .tradingslider {
    min-width: 0;
    width: 100%;

    .nextArrowmain,
    .prevArrowmain {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9;
      padding: 10px;
      border-radius: 50px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px solid var(--primary);
      transition: 0.4s ease-in-out;

      &:hover {
        background: var(--linear-gradient);

        svg {
          path {
            fill: #fff;
          }
        }
      }

      svg {
        width: 20px;
        height: 20px;
        transition: 0.4s ease-in-out;

        path {
          fill: #000;
          transition: 0.4s ease-in-out;
        }
      }
    }

    .nextArrowmain {
      right: -18px;
    }

    .prevArrowmain {
      left: -42px;

      svg {
        rotate: 180deg;
      }
    }

    .itemsmain {
      position: relative;
      min-width: 0;
      width: calc(100% - 24px);
      margin-right: 24px;
      //   width: calc(100% - 48px);
      //   margin-right: 48px;

      //   &::before,
      //   &::after {
      //     position: absolute;
      //     background-color: rgba(255, 255, 255, 0.2);
      //     content: "";
      //     border-radius: 18px;
      //   }

      //   &::before {
      //     width: calc(100% + 10px);
      //     height: calc(100% + 10px);
      //     z-index: 2;
      //     top: -5px;
      //     left: 5px;
      //   }

      //   &::after {
      //     width: calc(100% + 20px);
      //     height: calc(100% + 20px);
      //     z-index: 1;
      //     top: -10px;
      //     left: 0;
      //   }

      .items {
        padding: 18px;
        // background-color: var(--bg-white);
        // background: var(--linear-gradient);
        background-color: rgba(255, 255, 255, 0.2);
        // border: 1px solid #fff;
        border-radius: 18px;
        width: 100%;
        // margin: 10px;
        position: relative;
        z-index: 3;
        transition: 0.4s ease-in-out;

        // &:hover {
        //   background: var(--linear-gradient-hover);
        // }

        @include respond-to("sm") {
          padding: 16px;
          border-radius: 12px;
        }

        :global(.slick-track) {
          margin: 0;
        }

        .nextArrow,
        .prevArrow {
          position: absolute;
          top: -40px;
          z-index: 9;
          padding: 5px 20px;
          border-radius: 50px;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: 1px solid var(--primary);
          transition: 0.4s ease-in-out;

          &:hover {
            background: var(--linear-gradient);

            svg {
              path {
                fill: #fff;
              }
            }
          }

          svg {
            width: 20px;
            height: 20px;
            transition: 0.4s ease-in-out;

            path {
              transition: 0.4s ease-in-out;
              fill: #000;
            }
          }
        }

        .nextArrow {
          right: 0;
        }

        .prevArrow {
          right: 70px;

          svg {
            rotate: 180deg;
          }
        }

        .twoColGrid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 8px;

          @include respond-to("sm") {
            grid-template-columns: 1fr;
          }

          button {
            padding: 12px;
            width: 100%;
          }
        }

        .freetrial {
          padding: 0 0 25px 0;

          @include respond-to("sm") {
            padding: 0 0 16px 0;
          }

          button {
            border-radius: 40px;
            background: linear-gradient(
              180deg,
              rgba(61, 52, 139, 0.08) 0%,
              rgba(118, 120, 237, 0.08) 100%
            );
            padding: 8px 14px;
            border: none;

            span {
              background: var(--linear-gradient);
              @include text-type;
              @include font16medium;
            }
          }

          p {
            margin: 15px 0 0 0;
            @include font16medium;
            color: var(--black-100);
          }
        }

        .textContent {
          display: flex;
          gap: 43px;
          padding: 0 0 25px 0;

          @include respond-to("sm") {
            gap: 20px;
            padding: 0 0 16px 0;
          }

          p {
            @include font16;
            color: rgba(42, 48, 60, 0.7);

            @include respond-to("sm") {
              @include font14normal;
            }
          }

          span {
            display: block;
            @include font16bold;
            color: var(--black-100);

            @include respond-to("sm") {
              font-size: 13px;
            }
          }
        }

        .carddetails {
          .planItemmain {
            display: flex;
            justify-content: space-between;

            .planItem {
              border-radius: 10px;
              background-color: #fff;
              border: 1px solid #e0e7ff;
              padding: 6px 12px;
              display: flex;
              flex-direction: column;
              gap: 5px;
              margin-right: 10px;
              width: calc(100% - 10px);

              @include respond-to("sm") {
                margin: 0 5px;
              }

              .flex {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .plantype,
                .initialprice {
                  @include font18;
                  font-weight: 500;
                  line-height: 20px;

                  @include respond-to("sm") {
                    @include font14normal;
                  }
                }

                .plantype {
                  color: #0f0f1a;
                }

                .initialprice {
                  color: #3571e9;
                }

                .initialPrice {
                  display: block;
                  @include font18;
                  line-height: 20px;
                  color: #3571e9;

                  @include respond-to("sm") {
                    font-size: 13px;
                  }
                }

                .mrp {
                  @include font14normal;
                  line-height: 14px;
                  color: #616161;
                  text-transform: uppercase;
                  font-style: italic;
                }

                .mrpprice {
                  @include font14normal;
                  line-height: 14px;
                  color: #616161;
                  text-transform: uppercase;
                  font-style: italic;
                }

                .discount {
                  @include font14normal;
                  line-height: 14px;
                  color: #616161;
                  // text-transform: uppercase;
                }

                .discountedprice {
                  @include font14normal;
                  line-height: 14px;
                  color: #cc0c39;
                }
              }
            }
          }
        }

        .cardflx {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          gap: 40px;

          .cardHeaderAlignment {
            img {
              width: 100%;
              height: 180px;
              border-radius: 14px;
              position: relative;
              overflow: hidden;
              background-color: #f2f2f2;
              margin-bottom: 10px;
            }

            h3 {
              color: #0f0f1a;
              //   color: var(--text-white);
              @include heading20;
              font-weight: 500;
              margin-bottom: 10px;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }

            p {
              @include font16;
              min-height: 52px;
              font-weight: 400;
              //   color: #616161;
              color: #282828;
              //   color: var(--text-white);
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

.buttons {
  margin-top: 15px;
}
