.algobotPage {
    background-color: var(--bg-white);
    border-radius: 22px;
    // padding: 40px 20px;
    // min-height: calc(100dvh - 40px);
}

.tradingacademy{
margin-top: 200px;
}

.valorText {
    h3 {
        font-size: 10vw;
        text-align: center;
        line-height: 200px;
        font-weight: 800;
        color: #07000C;
        mix-blend-mode: exclusion;
    }
}